.advanced_search_result_pager .pager__summary {
  font-weight: 700;
}

.advanced_search_result_pager .pager__group {
  margin: 1.25rem 0;
  padding: 1rem 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #e5e5e5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

@media all and (min-width: 45.063em) {
  .advanced_search_result_pager .pager__group {
    justify-content: flex-end;
  }
  .advanced_search_result_pager .pager__group > * {
    margin: 0.47214rem 0 0.47214rem 2.61803rem;
  }
  .advanced_search_result_pager .pager__group > *:first-child {
    margin-left: 0;
  }
}

.advanced_search_result_pager .pager__group > * {
  margin: 0.47214rem 2rem 0.47214rem 0;
}

.advanced_search_result_pager .pager__group > *:last-child {
  margin-right: 0;
}

.advanced_search_result_pager .pager__group .item-list__list,
.advanced_search_result_pager .pager__group .item-list__title,
.advanced_search_result_pager .pager__group .item-list__item {
  display: inline;
}

.advanced_search_result_pager .pager__group .item-list__title {
  font-size: initial;
  margin: 0.25rem;
}

.pager {
  margin: initial;
}

.pager__item {
  margin: 0.125rem;
  text-align: center;
}

.pager__items {
  text-align: right;
}

@media all and (max-width: 45em) {
  .pager__items {
    text-align: center;
  }
}

.pager__items__first-previous,
.pager__items__num-pages,
.pager__items__next-last {
  display: inline;
}

.pager__items__first-previous,
.pager__items__next-last {
  float: none;
}

.pager__items__first-previous .pager__item,
.pager__items__next-last .pager__item {
  display: inline;
}

.pager .pager__link,
.pager__results .pager__link {
  display: inherit;
  border-radius: 0.125em;
  border: 1px solid;
  transition: all, 0.2s, ease-in-out;
  min-width: 1.75em;
  padding: 0.125rem 0.4375rem 0;
}

.pager .pager__link:focus,
.pager .pager__link:hover,
.pager__results .pager__link:focus,
.pager__results .pager__link:hover {
  text-decoration: underline;
}

.pager__display .pager__link {
  background-color: #ffffff;
}

.pager__display .pager__link:hover,
.pager__display .pager__link:focus {
  background-color: #ffffff;
}

.pager__link--is-active {
  text-decoration: underline !important;
  border: solid 2px #0d77b5;
}

.view-grid .view-content .views-row {
  padding: 0px 20px 20px 0px !important;
}

/* generalizing */
.advanced_search_result_pager .pager__group .pager {
  display: none;
}

.advanced_search_result_pager .pager__group > * {
  margin: 0.47214rem 2rem 0.47214rem 0;
  display: flex;
}

.advanced_search_result_pager .pager__group > *:last-child {
  margin-right: 0;
}

.view-filters {
  display: none;
}

.pager__group .container {
  width: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.advanced_search_result_pager .pager__group nav {
  display: none;
}

.view-grid >  .view-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*margin: 0.47214rem 0 0.47214rem 2.61803rem;*/
}

@media only screen and (max-width: 600px) {
  .view-grid > .view-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
