.islandora-advanced-search-form .form-type-select {
  display: inline-block;
}

.islandora-advanced-search-form .form-type-select__select-wrapper {
  width: auto;
}

.islandora-advanced-search-form .form-select {
  margin-right: 0.25em;
}

input.islandora-advanced-search-form__add,
input.islandora-advanced-search-form__remove {
  display: inline-block;
  background: none !important;
  border: none;
  box-shadow: none;
  color: #0c6170;
  padding: 0 !important;
  text-decoration: none;
  margin: 0 0 1rem;
}

input.islandora-advanced-search-form__add:hover,
input.islandora-advanced-search-form__add:focus,
input.islandora-advanced-search-form__remove:hover,
input.islandora-advanced-search-form__remove:focus {
  text-decoration: underline;
  color: #0c6170;
  outline: none;
}

input.islandora-advanced-search-form__reset,
input.islandora-advanced-search-form__search {
  display: inline-block;
}

.form-wrapper select {
  margin-bottom: 1.125rem;
}

[id^="edit-terms"] {
  display: initial !important;
}
